* {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Cormorant', serif;
    font-family: 'Narnoor', serif;
}

h1 {
    padding: 15px;
}

.form-container {
    margin-left: 10px;
}

.card-body {
    padding: 10px;
}

h2 {
    padding: 5px;
}

#display-weather {
    float: right;
    margin-bottom: 25px;
}